
.middle{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
}
.headtext{
  color: #fff;
  font-size: 70px;
  font-weight: 900;
  cursor: pointer;
}
.hidden{
  max-width: 0;
  opacity: 0;
  transition: 0.5s ease-in;
}
.headtext:hover .hidden{
  opacity: 1;
  max-width: 1em;
}
